In [118]:
import pandas as pd
import matplotlib.pyplot as plt

In [119]:
air_quality = pd.read_csv("air_quality.csv")
air_quality.columns

Index(['WHO Region', 'ISO3', 'WHO Country Name', 'City or Locality',
       'Measurement Year', 'PM2.5 (μg/m3)', 'PM10 (μg/m3)', 'NO2 (μg/m3)',
       'PM25 temporal coverage (%)', 'PM10 temporal coverage (%)',
       'NO2 temporal coverage (%)', 'Reference',
       'Number and type of monitoring stations', 'Version of the database',
       'Status', 'Unnamed: 15', 'Unnamed: 16'],
      dtype='object')

In [120]:
air_quality = air_quality.replace(to_replace='Czechia', value='Czech Republic')
air_quality = air_quality.replace(to_replace='Republic of Korea', value='Korea')
air_quality = air_quality.replace(to_replace='Turkey', value='Turkiye')
air_quality = air_quality.replace(to_replace='United States of America', value='USA')

In [121]:
air_quality = air_quality.drop(columns=['WHO Region', 'ISO3', 'Reference', 'Number and type of monitoring stations', 'Version of the database',
       'Status', 'Unnamed: 15', 'Unnamed: 16'])

In [122]:
pm2_5 = air_quality.drop(columns = ['PM10 (μg/m3)', 'NO2 (μg/m3)', 'PM10 temporal coverage (%)', 'NO2 temporal coverage (%)'])
pm10 = air_quality.drop(columns = ['PM2.5 (μg/m3)', 'NO2 (μg/m3)', 'PM25 temporal coverage (%)', 'NO2 temporal coverage (%)'])
no2 = air_quality.drop(columns = ['PM2.5 (μg/m3)', 'PM10 (μg/m3)', 'PM25 temporal coverage (%)', 'PM10 temporal coverage (%)'])

In [123]:
pm2_5['PM25 temporal coverage (%)'].isna().sum()

24916

In [124]:
pm2_5_clean = pm2_5.dropna(subset=["PM2.5 (μg/m3)"])

In [125]:
air_regions = (pm2_5_clean["WHO Country Name"].unique())

In [126]:
ev = pd.read_csv("cleaned_ev.csv")

In [127]:
ev_regions = ev['region'].unique()

In [128]:
ev_regions

array(['Australia', 'Austria', 'Belgium', 'Brazil', 'Canada', 'China',
       'Colombia', 'Czech Republic', 'Denmark', 'Finland', 'France',
       'Germany', 'Greece', 'Hungary', 'Iceland', 'India', 'Ireland',
       'Israel', 'Italy', 'Japan', 'Korea', 'Luxembourg', 'Mexico',
       'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal',
       'Romania', 'Slovakia', 'Slovenia', 'Spain', 'Sweden',
       'Switzerland', 'Turkiye', 'United Arab Emirates', 'United Kingdom',
       'USA'], dtype=object)

In [129]:
air_regions

array(['Afghanistan', 'Albania', 'United Arab Emirates', 'Argentina',
       'Australia', 'Austria', 'Belgium', 'Bangladesh', 'Bulgaria',
       'Bahrain', 'Bahamas', 'Bosnia and Herzegovina', 'Brazil', 'Canada',
       'Switzerland', 'Chile', 'China', 'Cameroon', 'Colombia',
       'Costa Rica', 'Cuba', 'Cyprus', 'Czech Republic', 'Germany',
       'Denmark', 'Algeria', 'Ecuador', 'Spain', 'Estonia', 'Ethiopia',
       'Finland', 'Fiji', 'France', 'United Kingdom', 'Georgia', 'Ghana',
       'Greece', 'Guatemala', 'Honduras', 'Croatia', 'Hungary',
       'Indonesia', 'India', 'Ireland', 'Iran (Islamic Republic of)',
       'Iraq', 'Iceland', 'Israel', 'Italy', 'Jordan', 'Japan',
       'Kazakhstan', 'Kenya', 'Kyrgyzstan', 'Korea', 'Kuwait',
       "Lao People's Democratic Republic", 'Lebanon', 'Sri Lanka',
       'Lithuania', 'Luxembourg', 'Latvia', 'Madagascar', 'Mexico',
       'North Macedonia', 'Malta', 'Myanmar', 'Mongolia', 'Malaysia',
       'Nigeria', 'Netherlands', 'Norway', 'Nepal', 'New Zealand',
       'Pakistan', 'Panama', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Paraguay', 'Qatar', 'Romania', 'Russian Federation',
       'Saudi Arabia', 'Senegal', 'Singapore', 'El Salvador', 'Serbia',
       'Slovakia', 'Slovenia', 'Sweden', 'Thailand', 'Tajikistan',
       'Turkmenistan', 'Trinidad and Tobago', 'Turkiye',
       'United Republic of Tanzania', 'Uganda', 'Ukraine', 'Uruguay',
       'USA', 'Uzbekistan', 'Venezuela (Bolivarian Republic of)',
       'Viet Nam', 'South Africa'], dtype=object)

In [130]:
all_regions = []
for regions in air_regions:
    if (regions in ev_regions):
        all_regions.append(regions)

notin_air = []
for regions in ev_regions:
    if (regions not in air_regions):
        notin_air.append(regions)

In [131]:
len(all_regions)

38

In [132]:
notin_air

[]

In [133]:
pm2_5_clean = pm2_5_clean.reset_index()

In [138]:
pm2_5_clean

,index,WHO Country Name,City or Locality,Measurement Year,PM2.5 (μg/m3),PM25 temporal coverage (%)
0,0,Afghanistan,Kabul,2019,119.77,18.0
1,2,Albania,Durres,2016,14.32,NaN
2,6,Albania,Korce,2015,30.34,NaN
3,7,Albania,Korce,2016,28.64,NaN
4,11,Albania,Vlore,2019,10.32,NaN
...,...,...,...,...,...,...
15043,32183,South Africa,Waterberg,2021,18.86,75.0
15044,32186,South Africa,West Coast,2015,7.47,75.0
15045,32187,South Africa,West Coast,2016,8.42,75.0
15046,32188,South Africa,West Coast,2017,6.83,75.0
15047,32189,South Africa,West Coast,2018,6.10,75.0

In [135]:
(pm2_5_clean['PM25 temporal coverage (%)'] > 90)

0        False
1        False
2        False
3        False
4        False
         ...
15043    False
15044    False
15045    False
15046    False
15047    False
Name: PM25 temporal coverage (%), Length: 15048, dtype: bool

In [136]:
pm2_5_clean.to_csv("PM25_C1.csv")